body {
    background-color: hsl(0, 0%, 85%);
    color: #000;
    overflow-y: scroll;
}

.dh-header {
    height: 2.5em;
}

.dh-mainpage {
    border: 1px solid hsl(0, 0%, 80%);
    background-color: hsl(0, 0%, 97%);
    padding: 2em;
    width: 80%;
    max-width: 40em;
    margin: 3.3em auto 5.3em auto;
}

.generate-maxw(100);
.generate-maxw(@n, @i: 5) when (@i =< @n) {
  .dh-maxw@{i} {
    max-width: (@i * 1em);
  }
  .generate-maxw(@n, (@i + 5));
}
.dh-center {
    margin-left: auto;
    margin-right: auto;
}
.dh-centertext {
    text-align: center;
}
.dh-boxpadding2 {
    box-sizing: border-box;
    padding: 2em;
}
.dh-content {
    position: relative;
    overflow: hidden;
}